.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  overflow-x: hidden;
}

.navbar{
  background-color: white;
}

.link{
  font-size: 15px;
}

.carou-capt{
  margin-bottom: 200px;
  margin-right: 40%;
}

.a-carou{
  color: white;
}

a.a-carou:hover{
  color: black;
}

.htiga:hover{
  font-size: 20px;
  color: #661d0a;
}

.main{
  text-align: center;
  margin-top: 100px;
  font-family: Avenir Next;
}

.isi-main{
  font-size: 25px;
  margin-left: 300px;
  margin-right: 22%;
}

.gambar{
  margin-top: 50px;
}

.isi-konten{
  margin-top: 50px;
  margin-left: 35px;
}

.link-konten{
  font-size: 23px;
  color: #661d0a;
}

a.link-konten:hover{
  color: white;
}

.desk-konten{
  font-family: Avenir Next;
}

.konten-pertama{
  margin-left: 55px;
}

.konten-kedua{
  margin-right: 120px;
}

li.ul-kesatu{
 list-style-type: none;
 font-family: Avenir Next;
 font-size: 15px;
 margin-bottom: 8px;
}

.a-kesatu{
  color: black;
}

a{
  color: inherit;
}

.li-kesatu{
  list-style-type: none;
  font-family: Avenir Next;

}

.li-hlapan{
  color: black;
}

.svg-pertama{
  margin-bottom: 5px;
}

.svg-campur{
  margin-left: 15px;
  margin-bottom: 5px;
}

.lang{
  font-size: 13px;
}

.form{
  background-color: #dee2e6;
}

.footer{
  margin-top: 50px;
  margin-bottom: 0%;
  background-color: #dee2e6;
  height: 350px;
  width: 100%;
  padding-top: 100px;
}

.option{
  color: black;
}

.imej-konten{
  height: 230px;
  width:400px;
}

.imej-konten:hover{
  width: 420px;
  box-shadow: 20px 20px 20px #000;
  transition: width 3s;
}

.letak{
  margin-left: 40px;
}






